/* --------------body--------------*/

* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 50px 0 50px;
}

h1 {
	font-size: 22px;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 14px;
	margin-bottom: 10px;
}

/* -----------navigation-----------*/
/* -------------navbar------------*/
.navbar {
	width: 95%;
	min-height: 7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	color: #0065fc;
	display: flex;
	list-style: none;
}

.nav-links li {
	padding: 0rem 2rem;
	font-size: 1rem;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

.nav-links a:hover {
	color: #0065fc;
	border-top: solid;
	padding-top: 3rem;
}

/* -------------header------------*/
header {
	width: 95%;
}

form {
	margin-bottom: 24px;
}

.searchbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.filter {
	display: flex;
	width: 60%;
	justify-content: space-around;
	align-items: center;
}

/* -------------section hebergement------------*/
.hebergement {
	background-color: #f2f2f2;
	width: 60%;
	margin: 25px 0px 25px 0px;
	padding: 2vh;
	border-radius: 25px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.item-hebergement {
	background-color: white;
	width: 250px;
	height: 200px;
	margin: 15px;
	border-radius: 20px;
}

.img-banner {
	display: flex;
	padding: 5px;
	margin: 0;
	height: 125px;
}

.img-banner img {
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	object-position: 50% 55%;
}

.content-hebergement {
	padding: 5px 0px 0px 15px;
}

/* -------------aside------------*/
aside {
	background-color: #f2f2f2;
	width: 40%;
	margin: 25px 0px 25px 0px;
	padding: 2vh;
	border-radius: 25px;
}
.ccontainer-aside {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.item-aside {
	background-color: white;
	width: 350px;
	height: 140px;
	margin: 15px;
	border-radius: 15px;
	display: flex;
}

.img-banner-aside {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin: 0px;
}

.img-banner-aside img {
	width: 8rem;
	height: 8.13rem;
	max-height: 8.9rem;
	border-radius: 15px 0px 0px 15px;
	object-fit: cover;
}

.content-aside {
	margin: 15px 0px 0px 15px;
}
/* -------------footnav-





-----------*/ ;
