/* --------------CSS RESET--------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

/* ----------------------------*/

/* --------------body--------------*/

body {
	width: 1920px;
	margin: auto;
}

main {
	width: 80%;
	margin: auto;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

h1 {
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 600;
}

h2 {
	font-size: 18px;
	font-weight: 600;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-weight: 600;
}

p {
	font-size: 14px;
	margin-bottom: 10px;
}

/* -----------icons-----------*/
.fa-star {
	color: #0065fc;
}
.fa-star.unchecked {
	color: lightgrey;
}

.fa-map-marker-alt {
	color: black;
	background-color: #f2f2f2;
	padding: 15px 20px 15px 20px;
	border-radius: 15px 0px 0px 15px;
}

.fa-money-bill-wave {
	color: #0065fc;
	background-color: rgb(222 235 255);
	padding: 15px;
	border-radius: 50px;
}
.fa-child {
	color: #0065fc;
	background-color: rgb(222 235 255);
	padding: 15px;
	border-radius: 50px;
}
.fa-dog {
	color: #0065fc;
	background-color: rgb(222 235 255);
	padding: 15px;
	border-radius: 50px;
}

.fa-heart {
	color: #0065fc;
	background-color: rgb(222 235 255);
	padding: 15px;
	border-radius: 50px;
}

.fa-info {
	color: #0065fc;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 25px;
	border: 1px solid gray;
}
.fa-chart-line {
	margin-top: 5px;
}

.fa-search {
	display: none;
	visibility: hidden;
}
/* -------------navbar------------*/

header {
	width: 80%;
	margin: auto;
	padding: 25px 0px 25px 0px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-template-areas: 'logo navbar inscription';
}

.logo {
	grid-area: logo;
}

.navbar {
	grid-area: navbar;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	color: #0065fc;
	list-style: none;
}

.navbar a {
	text-decoration: none;
	color: black;
}
.navbar a:hover {
	border-top: 3px solid #0065fc;
	padding-top: 38px;
	color: #0065fc;
}

.inscription {
	grid-area: inscription;
}

.inscription a {
	color: #0065fc;
	text-decoration: none;
	font-weight: 600;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

form {
	margin-bottom: 24px;
}

.searchbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
input[type='search'] {
	padding: 6px;
	line-height: 2;
	border: 1px solid #f2f2f2;
}

::placeholder {
	color: black;
	opacity: 1;
}

.container-filter {
	display: flex;
	align-items: center;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

strong {
	margin: 0px 25px 25px 0px;
}

.btn-filter {
	border-radius: 50px;
	border: 2px solid #f2f2f2;
	padding-right: 15px;
	background-color: white;
	font-weight: 400px;
}

.item-filter-btn {
	display: flex;
	flex-direction: row;
	padding-right: 25px;
}

.search-btn {
	background-color: #0065fc;
	color: white;
	padding: 13.2px;
	border-radius: 0px 15px 15px 0px;
}

/* -------------section hebergement------------*/
.hebergement {
	background-color: #f2f2f2;
	padding: 3vh;
	border-radius: 25px;
	flex: 55%;

	margin-right: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 15px;
}

.item-hebergement {
	background-color: white;
	width: 250px;
	height: 200px;
	margin: 15px;
	border-radius: 20px;
	box-shadow: 0 0 1rem #0000002e;
}

.img-banner {
	display: flex;
	padding: 5px;
	margin: 0;
	height: 125px;
}

.img-banner img {
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	object-position: 50% 55%;
}

.content-hebergement {
	padding: 5px 0px 0px 15px;
}

.hebergement a {
	color: black;
	text-decoration: none;
}

.hebergement a:hover {
	color: #0065fc;
}

.hebergement h2 {
	margin: 20px 40px 10px;
}

/* -------------aside------------*/
aside {
	background-color: #f2f2f2;
	padding: 3vh;
	border-radius: 25px;
	flex: 20%;
}

.header-aside {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 90%;
}

.item-aside {
	background-color: white;
	width: 350px;
	height: 140px;
	margin: 25px 25px 30px 25px;
	border-radius: 15px;
	display: flex;
	box-shadow: 0 0 1rem #0000002e;
}

.img-banner-aside {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin: 0px;
}

.img-banner-aside img {
	width: 8rem;
	height: 8.13rem;
	max-height: 8.9rem;
	border-radius: 15px 0px 0px 15px;
	object-fit: cover;
}

.content-aside {
	margin: 15px 0px 0px 15px;
}

/* -------------Section Activité--------- */
.container-activite {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.columns {
	margin: 25px;
}

.item-activite {
	width: 300px;
	height: 450px;
	border-radius: 15px;
	box-shadow: 0 0 1rem #0000002e;
}

.item-activite > a {
	text-decoration: none;
	color: black;
}
.item-activite figcaption {
	padding: 10px 0px 0px 15px;
	font-weight: 600;
}

.item-activite img {
	object-fit: cover;
	width: 100%;
	height: 25rem;
	border-radius: 15px 15px 0px 0px;
}

.columns:nth-child(even) > .item-activite:nth-child(-n + 2) {
	margin-bottom: 40px;
	width: 350px;
	height: 205px;
}

.columns:nth-child(even) > .item-activite:nth-child(-n + 2) > img {
	width: 100%;
	height: 10rem;
}

#fort {
	height: 230px;
}
#fort img {
	height: 11rem;
}

#frioul {
	height: 180px;
}

#frioul img {
	height: 8rem;
}

#garde img {
	height: 10rem;
}

#parc img {
	height: 10rem;
}

/* -------------footnav--------- */
footer {
	background-color: #f2f2f2;
}

.footnav {
	display: flex;
	flex-direction: row;
	padding: 50px;
	width: 85%;
	margin: auto;
}

.footnav ul {
	list-style: none;
	margin-right: 250px;
	padding-top: 10px;
}

.footnav li {
	padding-top: 10px;
}

.footnav li > a {
	color: black;
	text-decoration: none;
}

.footnav li > a:hover {
	color: #0065fc;
	text-decoration: none;
}

.column {
	text-align: left;
}
